In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("winequality-white.csv", sep=';')

df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [12]:
g1=df.groupby('quality')
mean_alcohol=g1.alcohol.mean()
print(mean_alcohol)

quality
3    10.345000
4    10.152454
5     9.808840
6    10.575372
7    11.367936
8    11.636000
9    12.180000
Name: alcohol, dtype: float64

In [11]:
g2=df.groupby('pH')
print(g2.quality.mean())

pH
2.72    6.000000
2.74    6.000000
2.77    6.000000
2.79    5.000000
2.80    5.666667
          ...
3.77    5.000000
3.79    5.000000
3.80    6.000000
3.81    6.000000
3.82    7.000000
Name: quality, Length: 103, dtype: float64

In [15]:
sorting=df.sort_values('quality', ascending=True)
sorting

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3307,9.4,0.24,0.29,8.5,0.037,124.0,208.0,0.99395,2.90,0.38,11.0,3
445,7.1,0.32,0.32,11.0,0.038,16.0,66.0,0.99370,3.24,0.40,11.5,3
2050,11.8,0.23,0.38,11.1,0.034,15.0,123.0,0.99970,2.93,0.55,9.7,3
3810,6.8,0.26,0.34,15.1,0.060,42.0,162.0,0.99705,3.24,0.52,10.5,3
3409,6.2,0.23,0.35,0.7,0.051,24.0,111.0,0.99160,3.37,0.43,11.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
774,9.1,0.27,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9
827,7.4,0.24,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9
876,6.9,0.36,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9
820,6.6,0.36,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9
1605,7.1,0.26,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9

In [16]:
Sorting=df.sort_values('alcohol', ascending=False)
Sorting

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3918,6.4,0.350,0.28,1.60,0.037,31.0,113.0,0.98779,3.12,0.40,14.20,7
4503,5.8,0.610,0.01,8.40,0.041,31.0,104.0,0.99090,3.26,0.72,14.05,7
3904,5.0,0.455,0.18,1.90,0.036,33.0,106.0,0.98746,3.21,0.83,14.00,7
3150,5.8,0.390,0.47,7.50,0.027,12.0,88.0,0.99070,3.38,0.45,14.00,6
1099,5.8,0.290,0.21,2.60,0.025,12.0,120.0,0.98940,3.39,0.79,14.00,7
...,...,...,...,...,...,...,...,...,...,...,...,...
3835,6.2,0.310,0.23,3.30,0.052,34.0,113.0,0.99429,3.16,0.48,8.40,5
3839,6.2,0.310,0.23,3.30,0.052,34.0,113.0,0.99429,3.16,0.48,8.40,5
4020,6.4,0.370,0.12,5.90,0.056,6.0,91.0,0.99536,3.06,0.46,8.40,4
3265,4.2,0.215,0.23,5.10,0.041,64.0,157.0,0.99688,3.42,0.44,8.00,3
2625,4.5,0.190,0.21,0.95,0.033,89.0,159.0,0.99332,3.34,0.42,8.00,5

In [18]:
# An Other way like both to gather
Sorting_by_value=df.sort_values(by=['alcohol','quality'], ascending=[False,True])
Sorting_by_value

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3918,6.4,0.350,0.28,1.60,0.037,31.0,113.0,0.98779,3.12,0.40,14.20,7
4503,5.8,0.610,0.01,8.40,0.041,31.0,104.0,0.99090,3.26,0.72,14.05,7
3150,5.8,0.390,0.47,7.50,0.027,12.0,88.0,0.99070,3.38,0.45,14.00,6
1099,5.8,0.290,0.21,2.60,0.025,12.0,120.0,0.98940,3.39,0.79,14.00,7
3904,5.0,0.455,0.18,1.90,0.036,33.0,106.0,0.98746,3.21,0.83,14.00,7
...,...,...,...,...,...,...,...,...,...,...,...,...
4020,6.4,0.370,0.12,5.90,0.056,6.0,91.0,0.99536,3.06,0.46,8.40,4
3835,6.2,0.310,0.23,3.30,0.052,34.0,113.0,0.99429,3.16,0.48,8.40,5
3839,6.2,0.310,0.23,3.30,0.052,34.0,113.0,0.99429,3.16,0.48,8.40,5
3265,4.2,0.215,0.23,5.10,0.041,64.0,157.0,0.99688,3.42,0.44,8.00,3
2625,4.5,0.190,0.21,0.95,0.033,89.0,159.0,0.99332,3.34,0.42,8.00,5

In [25]:
df_Red =pd.read_csv('winequality-red.csv',sep=';')
df_Red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [23]:
df_White=pd.read_csv('winequality-white.csv',sep=';')
df_White

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [26]:
concated=df_Red+df_White
print(concated)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0              14.4              0.97         0.36            22.6      0.121
1              14.1              1.18         0.34             4.2      0.147
2              15.9              1.04         0.44             9.2      0.142
3              18.4              0.51         0.88            10.4      0.133
4              14.6              0.93         0.32            10.4      0.134
...             ...               ...          ...             ...        ...
4893            NaN               NaN          NaN             NaN        NaN
4894            NaN               NaN          NaN             NaN        NaN
4895            NaN               NaN          NaN             NaN        NaN
4896            NaN               NaN          NaN             NaN        NaN
4897            NaN               NaN          NaN             NaN        NaN

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    56.0                 204.0   1.9988  6.51       1.01
1                    39.0                 199.0   1.9908  6.50       1.17
2                    45.0                 151.0   1.9921  6.52       1.09
3                    64.0                 246.0   1.9936  6.35       0.98
4                    58.0                 220.0   1.9934  6.70       0.96
...                   ...                   ...      ...   ...        ...
4893                  NaN                   NaN      NaN   NaN        NaN
4894                  NaN                   NaN      NaN   NaN        NaN
4895                  NaN                   NaN      NaN   NaN        NaN
4896                  NaN                   NaN      NaN   NaN        NaN
4897                  NaN                   NaN      NaN   NaN        NaN

      alcohol  quality
0        18.2     11.0
1        19.3     11.0
2        19.9     11.0
3        19.7     12.0
4        19.3     11.0
...       ...      ...
4893      NaN      NaN
4894      NaN      NaN
4895      NaN      NaN
4896      NaN      NaN
4897      NaN      NaN

[4898 rows x 12 columns]